<!DOCTYPE html>
<html lang="en">
  <body>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 square">
            <div class="brand">Empresa</div>
            <p class="about">
              Na BTech, você encontra os melhores produtos de eletrônicos e TI,
              desde smartphones e notebooks até componentes de computador e
              periféricos. Oferecemos variedade, qualidade, preços competitivos
              e um atendimento ao cliente excepcional. Compre com segurança e
              receba seus produtos rapidamente em casa.
            </p>
          </div>
          <div class="col-lg-2 col-md-6 square">
            <div class="heading">Redes sociais</div>
            <ul class="p-list">
              <li>
                <a
                  href="https://www.youtube.com"
                  target="_blank"
                  class="youtube-icon-link"
                >
                  <i class="fa-brands fa-youtube youtube-icon"></i>
                </a>
              </li>

              <li>
                <a
                  href="https://www.instagram.com"
                  target="_blank"
                  class="instagram-link"
                >
                  <i class="fa-brands fa-instagram"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/"
                  target="_blank"
                  class="linkedin-icon-link"
                >
                  <i class="fa-brands fa-linkedin linkedin-icon"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://twitter.com/"
                  target="_blank"
                  class="twitter-icon-link"
                >
                  <i class="fa-brands fa-x-twitter twitter-icon"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 square">
            <div class="heading">Links</div>
            <ul class="l-list">
              <li>Ajuda</li>
              <li>Serviços</li>
              <li>Navegar</li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 square">
            <div class="heading">Nosso Contato</div>
            <ul class="contact">
              <li>
                <i class="fa-solid fa-envelope"></i>
                btech&commat;gmail.com
              </li>
              <li><i class="fa fa-phone"></i> +55 (16) 99123-4567</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copy">© Copyright & Reserved 2024. <a>BTech</a></div>
    </footer>
  </body>
</html>
