<div class="container">
  <app-navbar></app-navbar>

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="title">Category Management</h2>
    <button class="btn btn-primary" (click)="openCreateModal()">
      Add Category
    </button>
  </div>

  <table class="table table-hover table-bordered mt-3">
    <thead class="table-dark">
      <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.id }}</td>
        <td>{{ category.description }}</td>
        <td>
          <button class="btn btn-warning me-2" (click)="openEditModal(category)">
            Edit
          </button>
          <button class="btn btn-danger" (click)="confirmDelete(category)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Create Category Modal -->
  <div id="addCategoryModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="categoryForm" (ngSubmit)="onCreateCategory()">
            <div class="form-group">
              <label for="description">Description</label>
              <input id="description" formControlName="description" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary w-100">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Category Modal -->
  <div id="editCategoryModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="categoryForm" (ngSubmit)="onCreateCategory()">
            <div class="form-group">
              <label for="description">Description</label>
              <input id="description" formControlName="description" class="form-control" />
            </div>
            <div class="form-check mb-3">
              <input type="checkbox" id="isActive" formControlName="isActive" class="form-check-input" />
              <label for="isActive" class="form-check-label">Active</label>
            </div>
            <button type="submit" class="btn btn-primary w-100">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
