@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 100px;
}

/* Navbar styling */
app-navbar {
  margin-bottom: 20px;
}

/* Title */
.title {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

/* Botão Add Category */
.btn-primary {
  margin-bottom: 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: "Bungee Spice", sans-serif;
  padding: 10px 20px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Tabela */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
}

.table th {
  background-color: #343a40;
  color: #fff;
}

.table td {
  background-color: #fff;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

/* Modais */
.modal-content {
  border-radius: 10px;
  background-color: #f8f9fa;
}

.modal-header {
  border-bottom: 2px solid #007bff;
  background-color: #303030;
  color: #fff;
}

.modal-title {
  font-family: "Bungee Spice", sans-serif;
  font-size: 1.8rem;
}

.btn-close {
  background-color: #fff;
  border-radius: 50%;
}

.modal-body {
  padding: 20px;
}

/* Formulários */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

/* Botões dentro do modal */
.btn-primary {
  background-color: #303030;
  color: #ff6000;
}

.btn-primary:hover {
  background-color: #1e1e1e;
  border-color: #ff6000;
}

/* Checkbox */
.form-check-input {
  margin-left: 0.1rem;
}

/* Botões de Ações */
.btn-warning {
  background-color: #ffca2c;
  color: #333;
  border: none;
  margin-right: 10px;
}

.btn-warning:hover {
  background-color: #e0a800;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
}

.btn-danger:hover {
  background-color: #c82333;
}

/* Espaçamento */
.d-flex {
  margin-bottom: 20px;
}

.table th, .table td {
  text-align: left;
}

.table th {
  font-size: 1rem;
}

.table td {
  font-size: 0.9rem;
}
