<app-navbar></app-navbar>

<div class="container">
  <!-- Barra de busca e informações de compras -->
  <div class="top-section">
    <h1>Compras</h1>
    <div class="search-bar">
      <input type="text" placeholder="Buscar" />
      <button type="button">Buscar</button>
    </div>
    <div class="filters">
      <span>Todas</span>
      <span>{{ orders.length }} compras</span>
    </div>
  </div>

  <!-- Opinião dos produtos -->
  <div class="opinion-section">
    <p><strong>{{ orders.length }} pedidos esperam sua opinião</strong></p>
    <button>Opinar</button>
    <button (click)="profile()">Ajuda?</button>
  </div>
  <div class="purchase-list">
    <div *ngFor="let order of orders" class="purchase-item">
      <div class="purchase-date">
        <p>{{ order.productName }}</p>
        <!-- Exibir as imagens -->
        <div class="product-images">
          <img *ngFor="let image of order.productImages" [src]="image" alt="Imagem do Produto" class="product-image" />
        </div>
      </div>
      <div class="purchase-details">
        <div class="purchase-status">{{ order.status }}</div>
        <p>Chegou no dia {{ order.deliveryDate | date: 'dd/MM/yyyy' }}</p>
        <p>{{ order.productName }}</p>
        <div class="purchase-actions">
          <button (click)="navigateToUnderway ()">Ver compra</button>
          <button>Comprar novamente</button>
        </div>
      </div>
    </div>
  </div>
</div>
