.fundo {
  position: relative;
  overflow: hidden;
  background-image: url(/assets/mv_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
}

.carousel {
  margin-top: 14.5vh;
  width: 1920px;
  height: 510px;
  border-top: 5px solid #ff6000;
  border-bottom: 5px solid #ff6000;
}

.carousel-item {
  height: 500px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel-item img {
  height: 100%;
  width: auto;
}

.carousel-indicators li {
  background-color: #ff6000;
}
