.fundo {
  position: relative;
  overflow: hidden;
  background-image: url(/assets/mv_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel {
  margin-top: 85px;
  border-bottom: 5px solid #ff6000;

}

.carousel-item img {
  height: 400px;
  object-fit: cover;
}
