<body>
  <header class="header">
    <a href="/home" class="logo">Busca Tech</a>

    <input type="checkbox" id="check" />
    <label for="check" class="icons">
      <i class="bx bx-menu" id="menu-icon"></i>
      <i class="bx bx-x" id="close-icon"></i>
    </label>

    <nav class="navbar">
      <ul>
        <li class="items"><a href="/home" style="--i: 0">Home</a></li>
        <li class="items"><a href="/sac" style="--i: 1">Ajuda</a></li>
        <li class="items"><a href="/search" style="--i: 2">Navegar</a></li>
        <li class="items">
          <a href="/cart" style="--i: 3">
            <i class="bx bxs-cart"></i> Seu carrinho
          </a>
        </li>
        <li class="items">
          <a href="/login" style="--i: 4">
            <i class="bx bx-user" id="user-icon"></i> {{ userName || 'User' }}
          </a>
        </li>
      </ul>
    </nav>
  </header>
</body>
