<body>
  <header class="header">
    <a routerLink="/home" class="logo">Busca Tech</a>

    <input type="checkbox" id="check" />
    <label for="check" class="icons" aria-label="Toggle menu">
      <i class="bx bx-menu" id="menu-icon" aria-hidden="true"></i>
      <i class="bx bx-x" id="close-icon" aria-hidden="true"></i>
    </label>

    <!-- Caixa de busca -->
    <div class="searchBox">
      <input
        class="searchInput"
        type="text"
        placeholder="Buscar...."
        [(ngModel)]="searchTerm"
        (keyup.enter)="searchProducts()" 
      />
      <button class="searchButton" (click)="searchProducts()">
        <svg
        xmlns="http://www.w3.org/2000/svg"
        width="29"
        height="29"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <circle cx="11" cy="11" r="8"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
      </svg>
      </button>
    </div>

    <!-- Exibir resultados da busca -->
    <div *ngIf="searchResults.length > 0" class="search-results">
      <ul>
        <li *ngFor="let product of searchResults">
          {{ product.name }} - {{ product.price | currency }}
        </li>
      </ul>
    </div>

    <nav class="navbar">
      <ul>
        <li class="items">
          <a routerLink="/home" style="--i: 0">Início</a>
        </li>

        <li class="items">
          <a routerLink="/search" style="--i: 2" class="navegar">Categorias</a>
          <div class="sidebar">
            <ul>
              <li><a href="#">Todos</a></li>
              <li><a href="#">Notebooks</a></li>
              <li><a href="#">Fones</a></li>
              <li><a href="#">Promoção</a></li>
              <li><a href="#">Celulares</a></li>
              <li><a href="#">Teclados</a></li>
              <li><a href="#">Mais Vendidos</a></li>
              <li><a href="#">TechWeek</a></li>
            </ul>
          </div>
        </li>

        <li class="items">
          <a
            routerLink="/cart"
            style="--i: 3"
            class="cart-icon"
            aria-label="View cart"
          >
            <i class="bx bxs-cart" aria-hidden="true"></i>
            <span *ngIf="cartItemCount > 0" class="cart-count">
              {{ cartItemCount }}
            </span>
            Meu carrinho
          </a>
        </li>

        <li class="items user-item">
          <a routerLink="/login" class="user-name" style="--i: 4">
            <i class="bx bx-user" id="user-icon" aria-hidden="true"></i>
            {{ userName || 'Entrar' }}
          </a>
          <ul class="dropdown-menu" *ngIf="userName">
            <li><a (click)="logout()">Sair</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
</body>
