.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #67666685;
  box-shadow: 8px 8px 16px #585757, -8px -8px 16px #767575;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: saturate(180%) blur(50px);
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 98, 0, 0.58),
    transparent
  );
  transition: 0.5s;
}

.header:hover::after {
  left: 100%;
}

ul {
  display: flex;
  z-index: 100;
}

.logo {
  font-size: 3rem;
  margin-top: -5px;
  color: #fff;
  text-decoration: none;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  filter: drop-shadow(rgb(0, 0, 0) 0rem 0rem 10px);
}

img {
  width: 100px;
  z-index: 100;
}

.items {
  list-style: none;
}

.navbar a {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
  top: 5px;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.items a {
  position: relative;
  text-decoration: none;
}

.items a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #ff6000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.6s ease-in-out;
  filter: drop-shadow(rgba(255, 255, 255, 0.722) 0rem 0rem 10px);
}

.items a:hover {
  color: #ff6000;
  transition: all 0.6s;
  filter: drop-shadow(rgba(255, 115, 0, 0.722) 0rem 0rem 10px);
  cursor: pointer;
}

.items a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.user-item {
  position: relative;
}

.user-name {
  display: inline-block;
  cursor: pointer;
  color: #fff;
}

.user-item .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #1e1e1e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1000;
  min-width: 150px;
}

.user-item .dropdown-menu li {
  list-style: none;
}

.user-item .dropdown-menu a {
  display: block;
  padding: 8px 5px;
  color: #fdfdfd;
  text-decoration: none;
  white-space: nowrap;
}

.user-item .dropdown-menu a:hover {
  background-color: #303030;
}

.user-item:hover .dropdown-menu {
  display: block;
}

.cart-icon {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -15px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
}

.searchBox {
  display: flex;
  max-width: 230px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: #303030;
  border-radius: 50px;
  position: relative;
  border-radius: 50px;
  background: #303030;
  box-shadow: 8px 8px 4px #181818, 0px 0px 6px #181818;
}

.searchButton {
  color: white;
  position: absolute;
  right: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(
    --gradient-2,
    linear-gradient(90deg, #ff6000 0%, #303030 100%)
  );
  border: 0;
  display: inline-block;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
/*hover effect*/
button:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}
/*button pressing effect*/
button:active {
  box-shadow: none;
  transform: translateY(0);
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 15px;
  padding: 24px 46px 24px 26px;
}

@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 904px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 85%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: saturate(180%) blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  #check:checked ~ .navbar {
    height: 16.2rem;
  }

  .navbar ul {
    display: block;
  }

  .header {
    padding: 1.3rem 5%;
  }

  nav.navbar {
    text-align: center;
  }

  .navbar ul {
    display: inline-block;
    padding: 0;
  }

  .items {
    display: inline-block;
    margin: 0 10px;
  }

  ul a {
    display: inline-block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.3s ease;
    width: fit-content;
    position: relative;
  }

  ul a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -1px;
    background-color: white;
    visibility: hidden;
    transition: width 0.3s ease-in-out;
  }

  ul a:hover::before {
    visibility: visible;
    width: 100%;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
    display: flex;
    flex-direction: column;
  }
}

.search-item {
  display: flex;
  align-items: center;
  position: relative;
}

.search-item i.fa-magnifying-glass {
  position: absolute;
  right: 0.5rem;
  font-size: 1.2rem;
  color: #333;
}

.search-box {
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  border-radius: 4px;
  border: 1px solid #dddd;
  width: 250px;
}

@media (max-width: 904px) {
  .search-item {
    display: none;
  }
}
