<body>
  <div class="home-container">
    <div class="name">Top Vendidos</div>
    <div
  class="products-grid"
  #containerRef
  (mousedown)="onDragStart($event)"
  (mousemove)="onDragging($event)"
  (mouseup)="onDragEnd()"
  (mouseleave)="onDragEnd()"
>
      <div
        *ngFor="let product of products"
        class="col-md-2 col-sm-4 col-6 product-card spacing"
      >
        <div class="product-thumb">
          <img [src]="product.image" alt="{{ product.name }}" />
        </div>
        <div class="product-details">
          <span class="product-price">
            {{ product.price | currency : "BRL" : "symbol" : "1.2-2" }}
          </span>
          <h4>
            <a href="#">{{ product.name }}</a>
          </h4>
          <p>{{ product.description }}</p>
          <div class="product-bottom-details">
            <button class="button" [routerLink]="['/page', product.id]">Ver Mais</button>
            <div class="product-links">
              <a href=""
                ><i
                  class="fas fa-shopping-cart"
                  (click)="addToCart($event, product)"
                ></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
