<body>
  <div id="slider">
    <div id="slides">
      <div id="overflow">
        <div class="inner">
          <div class="slide slide_1">
            <div class="slide-content">
              <img
                src="https://armazenamentotcc.blob.core.windows.net/tccimagens/.net.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="slide slide_2">
            <div class="slide-content">
              <img
                src="https://armazenamentotcc.blob.core.windows.net/tccimagens/angular.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="slide slide_3">
            <div class="slide-content">
              <img
                src="https://armazenamentotcc.blob.core.windows.net/tccimagens/type.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="slide slide_4">
            <div class="slide-content">
              <img
                src="https://armazenamentotcc.blob.core.windows.net/tccimagens/xunit.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
