<body>
  <div class="container">
    <div class="product-images">
      <div class="main-image">
        <img
          src="assets/headset-gamer-havit-removebg-preview.png"
          alt="Microfone Frontal"
        />
      </div>
    </div>
    <div class="product-info">
      <h1>Microfone Pichau Izar</h1>
      <main>
        <p>
          PC Gamer T-MOBA Eagle com processador Intel i3 10100F, placa de vídeo
          NVIDIA GeForce GT 1030, 8GB de RAM DDR4 e SSD de 240GB.
        </p>
        <p>De: <del>R$ 3.279,40</del></p>
        <p>Por: <strong>R$ 2.099,99</strong></p>
        <div class="rating">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9734;</span>
        </div>
        <br />
        <br />
        <button>Comprar com desconto</button>
        <button>Adicionar ao carrinho</button>
      </main>
      <footer>
        <p>Frete grátis e 12x sem juros no cartão!</p>
      </footer>
    </div>
  </div>
</body>
