html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #181818;
  color: #ffffff;
  height: 100%;
  width: 100%;
  background-image: url(/assets/fundologin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  background-color: #181818;
  color: #ffffff;
  margin-top: 30px;
}

.product-page {
  display: flex;
  gap: 20px;
  background-color: #1c1c1c;
  border-radius: 10px;
  box-shadow: 0px 20px 30px -10px rgba(0, 0, 0, 0.8);
  padding: 20px;
  width: 90%;
  max-width: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}

.image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.image-section img {
  width: 100%;
  max-width: 550px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 30px 60px -12px rgba(255, 255, 255, 0.2),
    0px 18px 36px -18px rgba(0, 0, 0, 0.8);
}

.details-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 100%;
}

h1 {
  margin-top: 0;
  font-size: 24px;
  color: #ffffff;
}

.product-price {
  font-size: 28px;
  color: #ffffff;
}

.installments {
  font-size: 14px;
  color: #b5b5b5;
}

.rating {
  display: flex;
  align-items: center;
}

.star {
  font-size: 20px;
  color: #ffd700;
}

.review-count {
  font-size: 14px;
  color: #b5b5b5;
  margin-left: 5px;
}

.button, .buy-now, .add-to-cart {
  border-radius: 20px;
  align-items: center;
  appearance: none;
  background-color: #ffffff;
  border-radius: 4px;
  border: none;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  padding: 0 16px;
  text-align: left;
  transition: background-color 0.15s, transform 0.15s;
  font-size: 18px;
  width: 100%;
  margin-bottom: 20px;
}

.description-box {
  padding: 20px;
  background-color: #1c1c1c;
  border-radius: 10px;
  color: #d3d3d3;
  text-align: left;
}

.description-box h2 {
  margin: 0;
  font-size: 22px;
  color: #ffffff;
}

.description-box p {
  margin-top: 10px;
  color: #d3d3d3;
  line-height: 1.6;
}

/* Media Queries para telas menores */
@media (max-width: 1024px) {
  .product-page {
    flex-direction: column;
    align-items: center;
  }

  .details-section {
    margin-top: 20px;
    max-width: 100%;
    text-align: center;
  }

  .image-section img {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .product-price {
    font-size: 24px;
  }

  .description-box h2 {
    font-size: 20px;
  }

  .buy-now, .add-to-cart {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .product-page {
    padding: 10px;
  }

  .image-section img {
    width: 100%;
    height: auto;
  }

  .product-price {
    font-size: 20px;
  }

  .description-box p {
    font-size: 14px;
}
}
