<body>
  <header class="header">
    <a href="/" class="logo">Busca Tech</a>

    <input type="checkbox" id="check" />
    <label for="check" class="icons" aria-label="Toggle menu">
      <i class="bx bx-menu" id="menu-icon" aria-hidden="true"></i>
      <i class="bx bx-x" id="close-icon" aria-hidden="true"></i>
    </label>

    <nav class="navbar">
      <ul>
        <li class="items">
          <!-- Verifique se o usuário é 'Pedido' para alterar os links -->
          <a href="/" style="--i: 1">
            {{ isPedidoUser ? 'Order' : 'Gerenciamento' }}
          </a>
          <ul class="dropdown-menu">
            <li *ngIf="!isPedidoUser"><a href="/dashboard">Dashboard</a></li>
            <li *ngIf="!isPedidoUser"><a href="/category">Category</a></li>

            <!-- Itens para o usuário 'Pedido' -->
            <li *ngIf="isPedidoUser"><a href="/pedido">Pedido</a></li>
            <li *ngIf="isPedidoUser"><a href="/entrega">Entrega</a></li>
            <li *ngIf="isPedidoUser"><a href="/historico">Histórico</a></li>
          </ul>
        </li>

        <li class="items user-item">
          <a href="/login" class="user-name" style="--i: 4">
            <i class="bx bx-user" id="user-icon" aria-hidden="true"></i>
            {{ userName || "Entrar" }}
          </a>
          <ul class="dropdown-menu" *ngIf="userName">
            <li><a (click)="logout()">Sair</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
</body>
