<body>
  <div class="promo-banner">
      <div class="promo-left">
          <img src="assets/game.jpg" alt="Jogo" class="faces-image">
      </div>
      <div class="promo-right">
          <h2>GamerZone™</h2>
          <h3>Novos Jogos Exclusivos</h3>
          <div class="product">
              <p>Descubra novos mundos e aventuras emocionantes. *Experiência incrível em 8 semanas.</p>
          </div>
          <div class="promo-text">
              <p>Novos Lançamentos de Jogos</p>
              <h1>-50% em Todos os Jogos*</h1>
              <h2>Por Tempo Limitado**</h2>
              <a href="#" class="learn-more">Saiba Mais</a>
          </div>
      </div>
  </div>
</body>
