@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&display=swap");

.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 60vh;
  text-align: center;
  padding: 40px;
  background-color: #f8f9fa;
  color: #212529;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 600px;
  margin-top: 100px;
  font-family: Arial, sans-serif;
}

.success-container h1 {
  font-size: 2.5rem;
  color: #28a745;
  margin-bottom: 15px;
  font-family: Arial, sans-serif;
}

.success-container p {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.success-container button {
  background-color: #ff6000;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.success-container button:hover {
  background-color: #1e1e1e;
}
