<div class="container-login">
  <div class="img-box">
    <img src="assets/login.svg" />
  </div>
  <div class="content-box">
    <div class="form-box">
      <h2>
        <a class="button" routerLink="/" routerLinkActive="selected">Loja Combo</a>
      </h2>
      <br />
      <h2>Entrar</h2>
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <div class="input-box">
          <span>E-mail</span>
          <input
            type="email"
            name="email"
            placeholder="exemplo@mail.com"
            [(ngModel)]="email"
            required
          />
        </div>

        <div class="input-box">
          <span>Senha</span>
          <input
            type="password"
            name="password"
            placeholder="Senha"
            [(ngModel)]="password"
            [type]="passwordFieldType"
            required
          />
          <span class="eye-icon" (click)="togglePasswordVisibility()">
            <i
              [ngClass]="
                passwordFieldType === 'password'
                  ? 'fa-solid fa-eye-slash'
                  : 'fa-solid fa-eye'
              "
            ></i>
          </span>
        </div>

        <div class="error-message" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>

        <div class="remember">
          <label><input type="checkbox" /> Lembre-Me </label>
          <a>Esqueceu a Senha?</a>
        </div>

        <div class="input-box">
          <input
            type="submit"
            class="btn btn-primary mt-3"
            value="Entrar"
          />
        </div>

        <div class="input-box">
          <p>Não Tem Uma Conta?<a routerLink="/singup" routerLinkActive="selected"> Inscrever-se</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
