<body>
  <div class="home-container">
    <div class="name">Ofertas do dia</div>

    <div id="productCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex justify-content-around">
            <div *ngFor="let product of products.slice(0, 5)" class="product-card spacing">
              <div class="badge">Promoção</div>
              <div class="product-thumb">
                <img [src]="product.image" alt="{{ product.name }}" />
              </div>
              <div class="product-details">
                <span class="product-price">
                  {{ product.price | currency: 'BRL':'symbol':'1.2-2' }}
                </span>
                <h4>
                  <a href="#">{{ product.name }}</a>
                </h4>
                <p>{{ product.description }}</p>
                <div class="product-bottom-details">
                  <button class="button">Ver Mais</button>
                  <div class="product-links">
                    <a href="#"><i class="fas fa-shopping-cart"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="d-flex justify-content-around">
            <div *ngFor="let product of products.slice(5, 10)" class="product-card spacing">
              <div class="badge">Promoção</div>
              <div class="product-thumb">
                <img [src]="product.image" alt="{{ product.name }}" />
              </div>
              <div class="product-details">
                <span class="product-price">
                  {{ product.price | currency: 'BRL':'symbol':'1.2-2' }}
                </span>
                <h4>
                  <a href="#">{{ product.name }}</a>
                </h4>
                <p>{{ product.description }}</p>
                <div class="product-bottom-details">
                  <button class="button">Ver Mais</button>
                  <div class="product-links">
                    <a href="#"><i class="fas fa-shopping-cart"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>
  </div>
</body>
