<body>
  <header>
    <app-navbar></app-navbar>
  </header>

  <div class="container">
    <section id="contact-form">
      <h2>Precisando de ajuda? Nos envie sua dúvida.</h2>

      <div class="contact-form-container">
        <form action="javascript:void(0)" (submit)="send()">
          <div class="form-group">
            <label for="nome">Nome:</label>
            <input
              [(ngModel)]="from_name"
              type="text"
              id="nome"
              name="from_name"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input
              [(ngModel)]="from_email"
              type="email"
              id="email"
              name="from_email"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="mensagem">Mensagem:</label>
            <textarea
              [(ngModel)]="message"
              id="mensagem"
              name="message"
              class="form-control"
              required
            ></textarea>
          </div>
          <button type="submit" class="formbold-btn">Enviar</button>
        </form>
      </div>


    </section>

    <section class="faq-section">
      <h2>FAQs</h2>
      <div class="faq" *ngFor="let faq of faqs" (click)="toggleAnswer(faq)">
        <div class="faq-question-wrapper">
          <p class="faq-question">{{ faq.question }}</p>
          <span class="arrow" [ngClass]="{ rotated: faq.showAnswer }">
            &#9662;
          </span>
        </div>
        <div class="faq-answer" [ngClass]="{ show: faq.showAnswer }">
          <p *ngFor="let answer of faq.answers">{{ answer }}</p>
        </div>
      </div>

      <!-- <div class="form-group" id="zap">
        <a
          href="https://chat.whatsapp.com/HUYo9jWiYYdFUfva5Y3qw5"
          class="button-link"
          target="_blank"
        >
          <button type="button">Enviar mensagem via WhatsApp</button>
        </a>
      </div> -->
    </section>
  </div>
</body>
