@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&display=swap");

body {
  position: relative;
  overflow: hidden;
  background-image: url(/assets/fundologin.jpg);
  background-size: cover;
  background-position: center center;
  color: #ffffff;
}

h2 {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ff6000;
  text-align: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 50px;
  background-color: #303030;
  box-shadow: 0 0px 10px 0 #ff6000;
  border-radius: 20px;
}

#contact-form {
  background: #1e1e1e;
  padding: 30px;
  margin-top: 0px;
  border-radius: 50px;
  box-shadow: 0 0px 8px 0 #ff6000;
  text-align: center;
}

header {
  min-height: 100px;
}

header h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

#contact-form {
  background: #1e1e1e;
  padding: 30px;
  margin-top: 0px;
  border-radius: 50px;
  box-shadow: 0 0px 8px 0 #ff6000;
  text-align: center;
}

.form-group {
  padding: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2em;
  color: #ff6000;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 15px;
  border: 2px solid #ff6000;
  border-radius: 10px;
  background-color: #303030;
  color: #ffffff;
}
.form-group input:focus,
.form-group textarea:focus {
  border-color: #35424a;
  box-shadow: 0 0 8px rgba(53, 66, 74, 0.3);
}

.form-group button {
  background: #ff600f;
  color: #ffffff;
  border: 0;
  margin: 5px;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 15px;
  transition: background 0.3s ease;
}

.form-group button:hover {
  background: #e8491d;
}

.faq {
  background: #1e1e1e;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0px 8px 0 #ff6000;
  cursor: pointer;
  transition: background 0.3s ease;
}

.faq:hover {
  background: #303030;
}

.faq p {
  margin: 0;
  color: #ddd;
}

.faq-question-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question {
  font-weight: bold;
}

.arrow {
  transition: transform 0.3s ease;
  color: #ddd;
  font-size: 20px;
}

.arrow.rotated {
  transform: rotate(180deg);
}

.faq-answer {
  display: none;
  margin-top: 10px;
}

.faq-answer.show {
  display: block;
}

.faq-answer {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.faq-answer p {
  margin-bottom: 1em;
}

.formbold-btn {
  background: linear-gradient(45deg, #ff6000, #e8491d);
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 30px;
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  margin: 10px auto;
  display: block;
}

.formbold-btn:hover {
  background: linear-gradient(45deg, #e8491d, #ff6000);
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
}

.formbold-btn:active {
  transform: translateY(2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}


